<div class="center">
  
  <form [formGroup]="loginForm" (ngSubmit)="login()">

    <h1>LOGIN</h1>
      <span class="space"></span>
     <!-- <mat-form-field floatLabel="never">
          <input type="text" placeholder="Role" formControlName="role" matInput [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
      </mat-form-field>-->
      <mat-form-field floatLabel="never">
        <input matInput placeholder="Role" formControlName="role"  [(ngModel)]="options" >
      </mat-form-field>
      <mat-form-field floatLabel="never">
        <input matInput placeholder="username" formControlName="username">
      </mat-form-field>
      <mat-form-field floatLabel="never"  class="fullwidth" color="accent">
          
              <input matInput placeholder="password" type="password" name="password" formControlName="password" [type]="hide ? 'password' : 'text'" />
              <mat-icon  matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
      <span class="space"></span>
      <button mat-raised-button color="accent" type="submit" [disabled]="!loginForm.valid">Login</button>
  

  </form>

</div>

