<div class="container">
  <table class="table  table-bordered table-hover">
    
        <colgroup>
          <col span="1" style="width: 25%;">
          <col span="1" style="width: 75%;">
        </colgroup>
      <tr>
        <td>Drug Name:</td>
        <td>{{drug.drugname}}</td>
      </tr>
      <tr>
        <td>Drug Brand:</td>
        <td>{{drug.drugbrand}}</td>
      </tr>
      <tr>
        <td>Quantity:</td>
        <td>{{drug.quantity}}</td>
      </tr>
      <tr>
        <td>Weight:</td>
        <td>{{drug.weight}}</td>
      </tr>
      <tr>    
        <td>Stock:</td>
        <td>{{drug.stock}}</td>
      </tr>
     
      </table>
      </div>
    